.App {
  text-align: center;
  background-color: #142c74;
  height: 100%;
  margin: 0;
  padding: 0;
  display: block;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.Section-1 {
  background-color: #142c74;
  color: white;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
}

.Section-2 {
  height: 400px;
  background-color: white;
  color: #142c74;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 40px;
}
.starter {
  margin-top: 30px;
  font-size: 25pt;
  padding: 20px;
  padding-left: 5%;
  max-width: 80%;
  width: 800px;
  text-align: left;
}
.countdown{
  margin: auto;
  text-align: center;
  font-size: 100pt;
  display: inline-block;
}
.time {
  margin: auto;
  background-color: #09153b;
  width: 160px;
  height: 180px;
  padding: 10px;
  margin: 20px;
  color: rgb(232, 171, 53);
  border-radius: 10px;
  display: inline-block;
}
.time-label {
  font-size: 15pt;
}
.interlude1 {
  font-size: 25pt;
  display: inline-block;
  height: 100px;
  vertical-align: 200%;
}
.interlude2 {
  font-size: 25pt;
  display: inline-block;
  padding: 30px;
}
.mc-form {
  padding: 5px;
  background-color: #09153b;
  opacity: .75;
  color: white;
  width: 100%;
  margin-top: 10px;
  position: fixed;
  text-align: center;
  
}
#mc_embed_signup_scroll {
  display: inline;
}
.validate {
  display: inline;
  white-space: nowrap;
}
.mc-form-label {
  font-size: 24px;
  margin-right: 20px;
  vertical-align: middle;
  color: red;
}
input {
  display: inline;
  margin: 5px;  
}
input::placeholder {
  color: rgb(88, 82, 59);
  font-size: 12pt;
}

.required-email {
  height: 15px;
  width: 300px;
  padding: 10px;
  background-color: rgb(232, 171, 53);
  color: #09153b;
  border: none;
  border-radius: 3px;
}
.mce-button {
  background-color: white;
  color: #142c74;
  padding: 8px;
  border-width: 2px;
  border-style: solid;
  border-color: #142c74;
  border-radius: 5px;
  font-size: 10pt;
}

button:hover {
  opacity: .65;
} 

.button-primary {
  padding: 20px;
  font-size: 20pt;
  background-color: #09153b;
  color: white;
  border: none;
  border-radius: 10px;
  margin-top: 30px;
  transition: all 0.3s ease 0s;
  opacity: 1;
}


.button-children {
  display: inline-block;
}
.icon {
    padding-top: 3px;
    vertical-align: top;
    height: 30px;
}  

.mce-special {
  position: absolute;
  left: -5000px;
  aria-hidden: true;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
